<div>
    <div class="form-group row">
        <label for="areaStatus" class="col-form-label col-sm-2">Status</label>
        <select [(ngModel)]="area.status" name="areaStatus" class="form-control col-sm-4">
            <option value="Active">Active</option>
            <option value="Disabled">Disabled</option>
        </select>
    </div>
    <div class="form-group row">
        <label for="areaName" class="col-form-label col-sm-2">Name</label>
        <input [(ngModel)]="area.name" name="areaName" class="form-control col-sm-4">
    </div>
    <div class="form-group row">
        <label for="areaDescription" class="col-form-label col-sm-2">Description</label>
        <input [(ngModel)]="area.description" name="areaDescription" class="form-control col-sm-8">
    </div>
    <div class="row button-row">
        <button class="btn btn-secondary ml-auto" (click)="onCancel()">Cancel</button>
        <button *ngIf="hasId()" class="btn btn-danger" (click)="onDelete()">Delete</button>
        <button class="btn btn-primary" (click)="onSave()">Save</button>
    </div>
</div>