<div>
    <div class="form-group row">
        <label for="topicName" class="col-form-label col-sm-2">Name</label>
        <input [(ngModel)]="topic.properties.name" name="topicName" class="form-control col-sm-4">
    </div>
    <div class="form-group row">
        <label for="topicDescription" class="col-form-label col-sm-2">Description</label>
        <input [(ngModel)]="topic.properties.description" name="topicDescription" class="form-control col-sm-8">
    </div>
    <div class="row button-row">
        <button class="btn btn-secondary ml-auto" (click)="onCancel()">Cancel</button>
        <button *ngIf="hasId()" class="btn btn-danger" (click)="onDelete()">Delete</button>
        <button class="btn btn-primary" (click)="onSave()">Save</button>
    </div>
</div>